<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XYB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A4EDF1621D4342BF003FA655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4EDF17B1D4342BF003FA655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4EDF1861D4342BF003FA655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
